*~
*.class
.classpath
.project
.settings/
.pydevproject
.settings
.DS_Store
target
custom/overhead.log
custom/results.log
*.swp
*.pyc
findbugs-results
*.launch
/thrift
*.idea/*
*.iml
.metadata/
/bin/
